
* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}


p, h1, h2, h3, h4, h5, h6, li, address, .nav-child {
    font-family: 'Raleway', sans-serif;
    color: #233A5A;
}

body {
    margin: 0;
    background-color: #d8e3e6;
}

h1 {
    font-weight: 900;
    font-size: 40px;
    padding: 0 0 0 15px;
}

h2 {
    font-weight: 900;
    font-size: 20px;
}

.time-text {
    color: #233A5A;
    font-size: 40px;
    font-weight: bolder;
}

.bee {
    z-index: 888;
}

a {
    text-decoration: none;
    color: #233A5A;
    font-size: 40px;
    font-weight: 700;
}

p, li, address {
    font-family: 'PT Sans', sans-serif;
}

address {
    font-style: normal;
    font-size: 15px;
    color: #233A5A;
    padding: 0 0 15px 15px;

}

.gradient-text {
    background-color: #1a968e;
    background-image: linear-gradient(95deg, #233A5A, #7998A0);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}



.grid-container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 150px auto;
    grid-gap: 10px;
}

.box {

}



.title {
    padding: 15px;
}
.content {
    background-color: #7998A0;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    margin: 0 15px 0 0;
    position: relative;
}

.heading {
    padding-top: 80px;
    /* todo - change so that it's 0px if nav bar isn't active */
}


.nav-bar {
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background: #F9CB6D;
    padding: 10px;
}

.nav-child {
    padding: 0 50px 0 50px;
    font-weight: 600;
}

.nav-icon {
    width: 50px;
}

.flower {
    width: 100px;
    height: auto;
}

.bee-img {
    width: 200px;
    height: auto;
}

.lefty-text {
    float: left;
    width: 80%;
}

.righty-flower {
    width: auto;
    position: absolute; 
    bottom: 15px; 
    right: 15px;
}


/* medium */
@media screen and (min-width: 650px) and (max-width: 799px) {

    body {
        background-color: lightgreen;
      }        
}


/* very wide */
@media screen and (min-width: 800px) {

    body {
        background-color: darkblue;
      }        
}
