p, h1, h2, h3, h4, h5, h6, li, address {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #f9eaea;
}

h1 {
    font-weight: 900;
    font-size: 40px;
    padding: 0 0 0 15px;
}

h2 {
    font-weight: 900;
    font-size: 20px;
}

p, li, address {
    font-family: 'PT Sans', sans-serif;
}

address {
    font-style: normal;
    font-size: 15px;
    color: #233A5A;
    padding: 0 0 15px 15px;

}

.gradient-text {
    background-color: #1a968e;
    background-image: linear-gradient(95deg, #233A5A, #7998A0);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.grid-container {
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 10px;
}


.box {

}


.title {
    padding: 15px;
}
.content {
    background-color: #7998A0;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    margin: 0 15px 0 0;
    position: relative;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-icon {
    width: 50px;
}

.flower {
    width: 100px;
    height: auto;
}

.lefty-text {
    float: left;
    width: 80%;
}

.righty-flower {
    width: auto;
    position: absolute; 
    bottom: 15px; 
    right: 15px;
}