p, h1, h2, h3, h4, h5, h6, li, address {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 40px;
    padding: 0 0 0 15px;
}

h2 {
    font-weight: 900;
    font-size: 20px;
}

p, li, address {
    font-family: 'PT Sans', sans-serif;
}

address {
    font-style: normal;
    font-size: 15px;
    color: #10637c;
    padding: 0 0 15px 15px;

}

.gradient-text {
    background-color: #1a968e;
    background-image: linear-gradient(95deg, #96ebe5, #10637c);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.grid-container {
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 10px;
}


.box {

}

.a {
    grid-area: 1 / 2 / 2 / 3;
  }
  .b {
    grid-area: 2 / 2 / 3 / 3;
  }
  .c {
    grid-area: 3 / 2 / 4 / 3;
  }
  .d {
    grid-area: 4 / 2 / 5 / 3;
  }
 .x {
    grid-area: 1 / 1 / 2 / 2;
 }
 .y {
    grid-area: 2 / 1 / 3 / 2;
 }
 .z {
    grid-area: 4 / 1 / 5 / 2;
 }


.title {
    padding: 15px;
}
.content {
    background-color: #669fb0;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    margin: 0 15px 0 0;
}